.DS_store

# yarn
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# eslint results
eslint-results.sarif

# App specific
.env*
!.env.sample
!.env.dev
!.env.prod

# eslint results
eslint-results.sarif

# firebase
ui-debug.log
firestore-debug.log
firebase-debug.log
firebaseServiceAccountKey.json
# build output
dist
